{% extends 'webapp/base.html' %}


{% block content %}


<h3 style="color: green;" > Welcome to dashboard page, {{user}}</h3>

<a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}"> 

    Book another Service &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>



</a>



<table class="table table-light table-hover">

    <thead class="table-dark">

        <tr>

            <th scope="col"> ID </th>
            <th scope="col"> Full Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Phone </th>
            <th scope="col"> Address </th>
            <th scope="col"> City </th>
            <th scope="col"> Postal </th>
            <th scope="col"> Service </th>
            <th scope="col"> Booked Date  </th>
            <th scope="col"> Service Date  </th>
            <th scope="col"> Commentary </th>
            <th scope="col"> View </i>
            </th>

        </tr>


    </thead>




    <tbody>

    {% if records %}



        {% for record in records %}

        <tr>

            <td> {{record.id}} </td>
            <td> {{record.first_name}} {{record.last_name}} </td>
            <td> {{record.email}} </td>
            <td> {{record.phone}} </td>
            <td> {{record.address}} </td>
            <td> {{record.city}} </td>
            <td> {{record.postal}} </td>
            <td> {{record.service}} </td>
            <td> {{record.creation_date}} </td>
            <td> {{record.service_date}} </td>
            <td> {{record.Commentary}} </td>
            <td><a href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i>
             </a></td>





        </tr>

        {% endfor %}


    {% endif %}    

    </tbody>


</table>

























<!--

{% for record in records %}



  {{ record.id}}
  {{ record.first_name}}
  {{ record.last_name}}

 {% endfor %} 

 //-->

{% endblock %}

